.embreve {
    display: flex;
    padding: 100px 20px 20px;
    align-items: center;
    margin-top: 100px;
}

.embreve span {
    background: linear-gradient(to right, #B174C2, #EACFBA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.embreve-esquerdo h1{
    font-size: 70px;
    line-height: 1.2;
    margin: 40;

}

.embreve-esquerdo .nome-nuria{
    font-size: 85px;
    margin-top: 10px;
}

.embreve-direito img {

    height: auto;
    border-radius: 20px;
    width: 727px;
    height: auto;
    justify-self: center;
    justify-content: flex-end;


}

#por-dentro {
    background: linear-gradient(to right, #B174C2, #EACFBA);
    color: white;
    font-size: 18px;
    font-weight: 600;

    border: none;
    box-shadow: 1px ;
    border-radius: 30px;
    cursor: pointer;

    margin-top: 20px;
    padding: 15px 30px;
    
}

.embreve-esquerdo{
    justify-content: flex-start;
    padding-bottom: 100px;
}

