* {
    color: #57415D;
}

.container {
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .1);

}
.info-geral {
    display: flex;
    justify-items: center;
    align-self: auto;
    padding: 85px 0px 30px 150px;
    gap: 100px; 
    margin-right: 500px;
}
    
.logo-nome {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    padding-right: 130px;
}

.logo-nome img {
    width: 50px;
    height: auto;
}

.logo-nome h3 {
    font-size: 35px;
    font-weight: 600;
}

.container ul p {
    padding-top: 10px;
    font-size: 11px;
    font-weight: 500;
}

.container h4 {
    padding-bottom: 20px;
    padding-top: 10px;
}

.container li {
    font-size: 14px;
    list-style: none;
    padding: 7px 0px 7px 0px;
}

.container li a {
    text-decoration: none;
}

.contato {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#email-contato {
    width: 22px;
    height: auto;
    padding-right: 5px;
}

.antes-divider {
    display: flex;
    flex-direction: row;
}


#divider-footer {
    border-top: 1px solid #9A8D9E;
    width: 1190px;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}

.direito {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}

.direito img {
    width: 11px;
    height: 12px;
    padding-top: 1px;
}

.direito p {
    font-size: 12px;
}

.final-footer .antes-divider a {
    margin: 0;
    text-decoration: none;
    color: #57415D;
    font-size: 12px;
}

.final-footer{
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 50px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.final-footer .antes-divider{
    display: flex;
    flex-direction: row;
    align-self: flex-end;

    gap: 30px;
}

.final-footer .direito{
    align-self: flex-end;
    align-content: initial;
    padding-top: -10px;
}

.final-direito {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;

    justify-content:
}

.direito-logo img {
    display: flex;
    width: 86px;
    height: auto;
    margin-top: 12px;
}

.redes-sociais img {
    width: 25px;
    height: auto;
    margin-right: 10px;
    margin-top: 12px;
}

#contato-email{
    color: #57415D;
    font-size: 15px;
    font-weight: 600;

    border: none;
    box-shadow: 1px ;
    border-radius: 30px;
    cursor: pointer;

    margin-top: 15px;
    padding: 8px 20px;
}

.contato1{
    flex-direction: column;
}
