.funcionalidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 300px 0px 300px;
}

/* TITULO */

.funcionalidades h1 {
    z-index: 999;
    font-size: 50px;
    color: #57415D;
    font-weight: 600;
    align-self: flex-start;
}

/* CARROSSEL */

.carrossel {
    display: flex;
    width: 50%;
    min-height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.container-img {
    display: flex;
    align-items: center;
}

.container-img img {
    width: 320px;
    height: 634px;
}

.container-img-geral {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease-in-out;
}

.imagens {
    opacity: 0;
    transition: opacity .2s;
    position: absolute;
    width: 293px;
    height: 634px;
    border-radius: 30px;

    filter: drop-shadow(0 0 10rem #ddc1a99d);
    box-shadow: 1px 1px 10rem #ddc1a99d;
}

.text {
    opacity: 0;
    transition: opacity .2s;
    position: absolute;
    text-align: center;
}

.text h1 {
    font-size: 40px;
    font-weight: 600;
    color: #94849D;
    margin-bottom: 20px;
}

.text p {
    font-size: 20px;
    font-weight: 400;
    color: #94849D;
    width: 450px;
}

.on {
    opacity: 1;
}

#back-button, #next-button {
    z-index: 999;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

#back-button img, #next-button img {
    width: 100%;
    height: 100%;
    margin-left: 200px;
}

#back-button {
    transform: rotate(180deg);
}