.inicio {
    display: flex;
    flex-direction: column;
    background-image: url("../img/background-principal.png");
    box-shadow: inset 0px -160px 100px -10px #FFF9F6;
    background-size: cover;
    align-items: center;
    justify-content: center;
    height: 900px;
}

#seta {
    width: 45px;
    margin-top: 50px;

    animation: float 3s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}

#inicio-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px 300px 0px 300px;
}

.conheca-nuria {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 45%;
}

.conheca-nuria h1{
    color: #57415D;
    font-size: 52px;
    font-weight: 600;
}

.conheca-nuria span{
    color: #D79393;
    font-size: 42px;
    font-weight: 800;
}

.conheca-nuria h4 {
    color: #57415D;
    font-size: 17px;
    font-weight: 500;
}

.conheca-nuria2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.conheca-nuria2 p {
    font-size: 15px;
}

.contato-cadastro {
    border: none;
    border-radius: 50px;
    background-color: #FFF9F6;
    width: 35%;
    height: 45px;
    color: #57415D;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;

    transition: ease 0.3s;
}

.contato-cadastro:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px -20px 36px -18px inset;
}

.celular img {
    width: 549px;
    height: auto;
}

.fa-solid {
    padding-top: 30px;
}
