.oferecemos {
    display: flex;
    flex-direction: column;
    margin: 0px 420px 0px 420px;
}

.oferecemos h1 {
    font-size: 50px;
    margin-bottom: 50px;
    color: #57415D;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}

#oferecemos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#oferecemos-lista {
    display: flex;
}

#oferecemos-items {
    display: flex;
    align-items: center;
    gap: 20px;
}

#oferecemos-div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#oferecemos-div h4 {
    font-size: 20px;
    font-weight: 700;
    color: #94849D;
}

#oferecemos-div p {
    font-size: 15px;
    font-weight: 400;
    color: #94849D;
    width: 330px;
}

#divider {
    margin-left: 50px;
    margin-right: 50px;
    border: 0.1rem solid #996B5C;
}

#divider2 {
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid #996B5C;
    width: 100%;
}