#oquee {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border: 1px solid #806D86;
    width: 1200px;
    height: 450px;
    border-radius: 30px;

    margin: 0 auto;
    margin-top: 110px;
}

#info-nuria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;
    
}

#info-nuria h1 {
    font-size: 50px;
    padding-bottom: 25px;
}

#info-nuria span {
    background: linear-gradient(to right, #B174C2, #EACFBA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#info-nuria p {
    font-size: 24px;
    color: #94849D;
    font-weight: 500;
    width: 750px;
    line-height: 2rem;
}