/* PRODUTIVIDADE DESKTOP */
#produtividade {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px; 
    margin-top: 80px;
    max-width: 1400px;
    padding-top: 200px;
    margin-left: 60px;
    margin: 0 auto
}

#produtividade span {
    background: linear-gradient(to right, #B174C2, #EACFBA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.produtividade-esquerda img {
    max-width: 95%;
    height: auto;
    border-radius: 20px;
}

.produtividade-direita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.produtividade-direita h1 {
    font-size: 50px;
    line-height: 1.2;
    padding-bottom: 40px;
}

.produtividade-direita p {
    color: #94849D;
    width: 450px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 85px; 
    align-self: flex-start;
    margin-left: 20px;
}

.produtividade-direita img {
    max-width: 100%;
    height: auto;
}

/* CADERNO DESKTOP */
#caderno-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 200px;
}

#caderno-title h1 {
    font-size: 50px;
    line-height: 1.2;
}

#caderno-title span {
    background: linear-gradient(to right, #B174C2, #EACFBA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#caderno-title img {
    padding-top: 45px;
    width: 50px;
    margin-left: 10px;
}

#caderno-geral {
    display: flex;
    margin-top: 150px;
    margin-bottom: 200px;
}

#caderno-esquerda {
    display: flex;
    flex-direction: column;
}

#caderno-esquerda h1 {
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 20px;
    width: 650px;
}

#caderno-esquerda span {
    background: linear-gradient(to right, #B174C2, #EACFBA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#caderno-esquerda p {
    width: 500px;
    color: #94849D;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 50px; 
}

#caderno-img {
    display: flex;
    align-self: flex-start;
    gap: 20px;
}

#caderno-img img {
    width: 250px;
    height: auto;
}

#slide-caderno img {
    width: 550px;
    height: auto;
}

#caderno-img img:hover {
    transform: scale(1.1);
    transition: 0.3s;
    cursor: pointer;
}

